@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99vh;
  overflow: hidden;
}

main {
  text-align: center;
}

h1 {
  font-family: 'Source Code Pro', monospace;
}
