@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body,
h1,
p {
  font-family: 'Source Code Pro', monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#wrapper {
  text-align: center;
}
