@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

main {
  text-align: center;
}

h1 {
  font-family: 'Source Code Pro', monospace;
}
